<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Choose what you want to do:</h2>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <a style="width:300px" class="btn btn-info" href="/home/addcandidate">Add a candidate</a>
            <br />
            <br />
            <a style="width:300px" class="btn btn-info" href="/candidates/pending">View pending candidates for the course</a>
            <br />
            <br />
            <a style="width:300px" class="btn btn-info" href="/candidates/confirmed">View confirmed candidates for the course</a>
            <br />
            <br />
            <a style="width:300px" class="btn btn-info" href="/candidates/declined">View declined candidates for the course</a>
        </div>
    </div>
</div>
